@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutIndex.cshtml";
}
@if (TempData["result"] !=null)
{
    <div id="custom-notification" style="">
        <div>
            <button type="button" onclick="closeNotification()">X</button>
            <br/>
            @Html.Raw(System.Net.WebUtility.HtmlEncode(TempData["result"].ToString()))
           
        </div>
    </div>
    <script>

        function closeNotification() {
            var notification = document.getElementById('custom-notification');
            notification.style.opacity = '0';
            setTimeout(function () {
                notification.style.display = 'none';
            }, 600);
        }
    </script>
}

<section class="hero-area col-12">
    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        @foreach (var item in ViewBag.HomeSlider)
        {
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(/one-music-gh-pages/@item.PhotoUrl);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">@item.Subtitle</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">@item.Title <span>@item.Title</span></h2>
                                <a asp-controller="Product" asp-action="GetAllProduct" asp-route-id="@item.CategoryId" data-animation="fadeInUp" data-delay="500ms" class="btn oneMusic-btn mt-50 text-center" id="centered-btn">Alışverişe Başla <i class="fa fa-angle-double-right "></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


</section>
<div id="fh5co-product">
    <div class="container">
        <div class="opsProduct">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">

                <h2>Son Eklenenler</h2>
            </div>
        </div>


        <div class="slides-3 swiper p-t-50">
            <div class="swiper-wrapper">
                @foreach (var item in ViewBag.NewProducts as List<ProductVM>)
                {
                    <div class="swiper-slide text-center animate-box">
                        <div class="product">
                            <div class="product-grid" style="background-image:url(/img/@item.Photo);">
                                <div class="inner">
                                    <p>
                                        <a href="single.html" class="icon"><i class="icon-shopping-cart"></i></a>
                                        <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id" class="icon"><i class="icon-eye"></i></a>
                                    </p>
                                </div>
                            </div>
                            <div class="desc">
                                <h3><a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">@item.Name</a></h3>
                                <span class="price">@item.Price</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>



</div>
        </div>


<div id="fh5co-product">
    <div class="container">
        <div class="opsProduct">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">

                <h2>Çok Satanlar</h2>
            </div>
        </div>


        <div class="slides-3 swiper p-t-50">
            <div class="swiper-wrapper">
                @foreach (var item in ViewBag.BestsellerProducts as List<ProductVM>)
                {
                    <div class="swiper-slide text-center animate-box">
                        <div class="product">
                            <div class="product-grid" style="background-image:url(/img/@item.Photo);">
                                <div class="inner">
                                    <p>
                                        <a href="single.html" class="icon"><i class="icon-shopping-cart"></i></a>
                                        <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id" class="icon"><i class="icon-eye"></i></a>
                                    </p>
                                </div>
                            </div>
                            <div class="desc">
                                <h3><a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">@item.Name</a></h3>
                                <span class="price">@item.Price</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>



</div>
        </div>




@*  <div class="row">
            <div class="col-12">
                <div class="albums-slideshow owl-carousel">

                    <!-- Single Album -->
                    @foreach (var item in ViewBag.BestsellerProducts as List<ProductVM>)
                    {
                        <div class="single-album">
                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id">

                                <img src="~/img/@item.Photo" alt="">
                            </a>
                            <div class="album-info">
                                <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id">
                                    <h5>@item.Name</h5>
                                </a>
                                <p>@item.Price</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>  *@


