@using System.Text.Json;
@model ProductsWithFeaturesVM

@{
    if (Model != null)
    {
        ViewData["Title"] = Model.Name;
    }
    else
    {
        ViewData["Title"] = "Ürün Adı Belirtilmemiş";
    }
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
@{
    
    var inStockSize = JsonSerializer.Serialize(Model.Size);
    ProductWithCategoryVM category = ViewBag.ProductCategory as ProductWithCategoryVM;
    List<ColorVM> colors = ViewBag.Colors as List<ColorVM>;
    List<SizeVM> sizes = ViewBag.Sizes as List<SizeVM>;
    List<CommentVM> comments = ViewBag.Comments as List<CommentVM>;
}
<!-- Product Details Area Start -->
<div class="single-product-area  clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50" id="olbreadcrumb">
                        <li class="breadcrumb-item" id="libreadcrumb"><a asp-area="Customer" asp-controller="Home" asp-action="Index" asp-route-id="">Anasayfa</a></li>
                        <li class="breadcrumb-item" id="libreadcrumb"><a asp-area="Customer" asp-controller="Product" asp-action="GetAllProduct" asp-route-id="@category.CategoryId">@category.CategoryName</a></li>
                        <li class="breadcrumb-item active" id="libreadcrumb" aria-current="page">@category.Name</li>
                    </ol>
                </nav>
            </div>
        </div>


		<div id="fh5co-product">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 animate-box">
						<div class="owl-carousel owl-carousel-fullwidth product-carousel">
							@foreach(var photo in Model.Photos)
							{
								<div class="item">
									<div class="active text-center">
										<figure>
											<img src="@photo" alt="user">
										</figure>
									</div>
								</div>
							}
							
						</div>
						<div class="row animate-box">
							<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
								<h2>@Model.Name</h2>
								<p>
                                    <button asp-controller="Shopping" asp-action="AddItemCart" asp-route-id="@Model.Id" type="submit" name="addtocart" value="5" class="btn amado-btn" id="centered-btn">Sepete Ekle</button>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="fh5co-tabs animate-box">
							<ul class="fh5co-tab-nav">
								<li class="active"><a href="#" data-tab="1"><span class="icon visible-xs"><i class="icon-file"></i></span><span class="hidden-xs">Seçenekler</span></a></li>
								<li><a href="#" data-tab="2"><span class="icon visible-xs"><i class="icon-bar-graph"></i></span><span class="hidden-xs">Ürün Detayları</span></a></li>
								<li><a href="#" data-tab="3"><span class="icon visible-xs"><i class="icon-star"></i></span><span class="hidden-xs">Yorumlar</span></a></li>
							</ul>

							<!-- Tabs -->
							<div class="fh5co-tab-content-wrap">

								<div class="fh5co-tab-content tab-content active" data-tab-content="1">
									<div class="col-md-10 col-md-offset-1">
										<span class="price">@Model.Price ₺</span>
										<h2>@Model.Name</h2>
                                        <div class="cart-btn d-flex" id="Adet">
                                            <label for="quantity">Adet</label>
                                            <div class="quantity">
                                                <button type="button" class="qty-btn" onclick="decreaseQuantity()">-</button>
                                                <input type="number" class="qty-text" id="quantity" step="1" min="1" max="10" name="quantity" value="1">
                                                <button type="button" class="qty-btn" onclick="increaseQuantity()">+</button>
                                            </div>
                                        </div>
                                        <div class="cart-btn d-flex" id="Adet">
                                            <label for="size">Beden</label>
                                            <div class="custom-dropdown ">
                                                <label id="selectedSize">
                                                    Seçiniz
                                                </label>
                                                <div class="dropdown-content">
                                                    <a href="#" onclick="selectSize('S')">S</a>
                                                    <a href="#" onclick="selectSize('M')">M</a>
                                                    <a href="#" onclick="selectSize('L')">L</a>
                                                    <a href="#" onclick="selectSize('XL')">XL</a>
                                                    <a href="#" onclick="selectSize('XXL')">XXL</a>
                                                </div>
                                            </div>
                                            <input type="hidden" id="size" name="size" value="">
                                        </div>

									</div>
								</div>

								<div class="fh5co-tab-content tab-content" data-tab-content="2">
									<div class="col-md-10 col-md-offset-1">
										<h3>@Model.Name</h3>
										<p>@Model.Description</p>

										<div class="row">
											<div class="col-md-6">
												<h2 class="uppercase">Keep it simple</h2>
												<p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
											</div>
											<div class="col-md-6">
												<h2 class="uppercase">Less is more</h2>
												<p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
											</div>
										</div>
									</div>
								</div>

								<div class="fh5co-tab-content tab-content" data-tab-content="3">
									<div class="col-md-10 col-md-offset-1">
										<h3>Yorumlar</h3>
										<div class="feed">
											<div>
												@foreach(var comment in comments)
												{
													<blockquote>
														<p>@comment.Description</p>
													</blockquote>
													<h3>&mdash; @comment.Name</h3>
													<span class="rate">
														@for (int i = 1; i <= 5; i++)
                                {
                                    <span class="star @(i <= comment.Mark ? "filled" : "")">&#9733;</span>
                                }
													</span>
												}
												
											</div>
											
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>

<script>
    function selectSize(size) {
        document.getElementById('selectedSize').textContent = size;
        document.getElementById('size').value = size;
    }

    function increaseQuantity() {
        var quantityInput = document.getElementById('quantity');
        var currentQuantity = parseInt(quantityInput.value, 10);

        if (!isNaN(currentQuantity) && currentQuantity < 10) {
            quantityInput.value = currentQuantity + 1;
        }
    }

    function decreaseQuantity() {
        var quantityInput = document.getElementById('quantity');
        var currentQuantity = parseInt(quantityInput.value, 10);

        if (!isNaN(currentQuantity) && currentQuantity > 1) {
            quantityInput.value = currentQuantity - 1;
        }
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var formNames = document.querySelectorAll('.form-name');

        formNames.forEach(function (nameElement) {
            var fullName = nameElement.textContent.trim();
            var firstName = fullName.charAt(0);
            var stars = '*'.repeat(fullName.length - 1);
            var hiddenStars = '<span class="hidden">' + stars + '</span>';
            nameElement.innerHTML = '<span class="visible">' + firstName + hiddenStars + '</span>';
        });
    });
</script>

<script>
    function increaseQuantity() {
        var quantityInput = document.getElementById('quantity');
        var currentQuantity = parseInt(quantityInput.value, 10);

        if (!isNaN(currentQuantity) && currentQuantity < 10) {
            quantityInput.value = currentQuantity + 1;
        }
    }

    function decreaseQuantity() {
        var quantityInput = document.getElementById('quantity');
        var currentQuantity = parseInt(quantityInput.value, 10);

        if (!isNaN(currentQuantity) && currentQuantity > 1) {
            quantityInput.value = currentQuantity - 1;
        }
    }
</script>

<!-- Active js -->
<!-- Product Details Area End -->
<!-- ##### Main Content Wrapper End ##### -->
<!-- Burası indirim kuponu uygulanabilir alan. -->
@* <!-- ##### Newsletter Area Start ##### -->
            <section class="newsletter-area section-padding-100-0">
            <div class="container">
            <div class="row align-items-center">
            <!-- Newsletter Text -->
            <div class="col-12 col-lg-6 col-xl-7">
            <div class="newsletter-text mb-100">
            <h2>Subscribe for a <span>25% Discount</span></h2>
            <p>Nulla ac convallis lorem, eget euismod nisl. Donec in libero sit amet mi vulputate consectetur. Donec auctor interdum purus, ac finibus massa bibendum nec.</p>
            </div>
            </div>
            <!-- Newsletter Form -->
            <div class="col-12 col-lg-6 col-xl-5">
            <div class="newsletter-form mb-100">
            <form action="#" method="post">
            <input type="email" name="email" class="nl-email" placeholder="Your E-mail">
            <input type="submit" value="Subscribe">
            </form>
            </div>
            </div>
            </div>
            </div>
            </section>*@
