@using System.Text.Json;
@model ProductsWithFeaturesVM

@{
    if (Model != null)
    {
        ViewData["Title"] = Model.Name;
    }
    else
    {
        ViewData["Title"] = "Ürün Adı Belirtilmemiş";
    }
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
@{
    var inStockColor = JsonSerializer.Serialize(Model.Colors);
    var inStockSize = JsonSerializer.Serialize(Model.Size);
    ProductWithCategoryVM category = ViewBag.ProductCategory as ProductWithCategoryVM;
    List<ColorVM> colors = ViewBag.Colors as List<ColorVM>;
    List<SizeVM> sizes = ViewBag.Sizes as List<SizeVM>;
    List<CommentVM> comments = ViewBag.Comments as List<CommentVM>;
}

<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" >Anasayfa</a></li>
                        <li class="breadcrumb-item"><a asp-controller="Product" asp-action="GetAllProduct" asp-route-id="@category.CategoryId">@category.CategoryName</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            @foreach (var item in Model.Photos)
                            {
                                <li class="active" data-target="#product_details_slider" style="background-image: url(@item);"></li>
                            }
                        </ol>
                        @foreach (var item in Model.Photos)
                        {
                            <div class="carousel-item">
                                <a class="gallery_img" href="@item">
                                    <img class="d-block w-100" src="@item" alt="Slide">
                                </a>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5">
            <div class="single_product_desc">
                <!-- Product Meta Data -->
                <div class="product-meta-data">
                    <div class="line"></div>
                    <p class="product-price">@Model.Price</p>
                    <a href="product-details.html">
                        <h6>@Model.Name</h6>
                    </a>
                </div>

                <div class="short_overview my-5">
                    <p>@Model.Description</p>
                </div>

                <!-- Add to Cart Form -->
                 <form class="cart clearfix" method="post">

                    <!-- Color Select-->
                    <div id="colorSelect">
                        <label for="color">Renk Seçiniz:</label><br />

                            @foreach (var color in colors)
                            {
                            <input type="radio" name="color" value="@color.Name" id="color_@color.Name" class="color-radio @color.Name.ToLower()">
                           
                            }          
                    </div>
                    <script>
                        var stockColor = @Html.Raw(inStockColor);
                        document.addEventListener("DOMContentLoaded", function () {
                            var inStockColorList = stockColor.map(function (color) {
                                return color.toString();
                            });
                            var radioButtons = document.querySelectorAll("input[type=radio][name=color]");

                            radioButtons.forEach(function (radioButton) {
                                var color = radioButton.value;
                                if (inStockColorList.includes(color)) {
                                    radioButton.disabled = false;
                                } else {
                                    radioButton.disabled = true;
                                }
                            });
                        });
                    </script>
                   
                    <!-- Size Select-->
                    <div id="sizeSelect">
                        <label for="color">Beden Seçiniz:</label><br />

                        @foreach (var size in sizes)
                        {
                            <input type="radio" name="size" value="@size.Name" id="size_@size.Name" class="size-radio @size.Name.ToLower()">

                        }
                    </div>
                    <script>
                        var stockSize = @Html.Raw(inStockSize);
                        document.addEventListener("DOMContentLoaded", function () {
                            var inStockSizeList = stockSize.map(function (size) {
                                return size.toString();
                            });
                            var radioButtons = document.querySelectorAll("input[type=radio][name=size]");

                            radioButtons.forEach(function (radioButton) {
                                var size = radioButton.value;
                                if (inStockSizeList.includes(size)) {
                                    radioButton.disabled = false;
                                } else {
                                    radioButton.disabled = true;
                                }
                            });
                        });
                    </script>

                    <div class="cart-btn d-flex mb-50">
                        <p>Adet</p>
                        <div class="quantity">
                            <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                            <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">
                            <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <button type="submit" name="addtocart" value="5" class="btn amado-btn">Sepete Ekle</button>
                </form> 

 <section class="latest-albums-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <h2>Yorumlar</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="albums-slideshow owl-carousel">

                    <!-- Single Album -->
                                    @foreach (var item in comments as List<CommentVM>)
                    {
                        <div class="single-album">                      
                            <div class="album-info">
                                    <h5>@item.Name</h5>
                                    @for(var i=1; i<=item.Mark; i++)
                                {
                                    <i class="star filled-star"></i>
                                }
                                @for(var i=1; i<=5-item.Mark;i++)
                                {
                                    <i class="star empty-star"></i>
                                }
                                 <p>@item.Description</p>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</section> 
            </div>
        </div>
    </div>
</div>
        </div>

