@{
    ViewData["Title"] = "Ürünler";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
@model List<ProductVM>;
<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <!-- Single Product Area -->
                <div class="col-12 col-sm-4 col-md-12 col-xl-4">
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        @foreach(var item2 in item.Photos)
                        {
                            <div class="product-img">
                                <a href="javascript:void(0);" onclick="redirectToProductDetail(@item.Id)"><img  src="~/img/@item2" alt="@item.Name" style="max-width: 100px; max-height: 100px; "></a>
                                <!-- Hover Thumb -->
                                <a href="javascript:void(0);" onclick="redirectToProductDetail(@item.Id)"><img class="hover-img" src="~/img/@item2" alt="@item.Name" style="max-width: 100px; max-height: 100px; "></a>
                            </div>
                        }
                       
                           
                       
                        <!-- Product Description -->
                        <div class="product-description d-flex align-items-center justify-content-between">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">@item.Price</p>
                                <a href="javascript:void(0);" onclick="redirectToProductDetail(@item.Id)">
                                    <h6>@item.Name</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    function redirectToProductDetail(productId) {
        window.location.href = '/Customer/Product/Detail/' + productId;
    }
</script>